# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List of popular languages for Data Science.
- List of commonly used libraries used by Data Scientists
- List of the development environment open source tools
- Few examples of evaluating arithmetic expressions in Pyhton
- Examples of simple arithmethic expressions

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Scikit-learn

Some of the development environment open source tools are:

|Data Science Tools|
|-------------------|
|Jupyter Notebook|
|VS Code (Visual Studio Code)|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python. ###

1. `5 + 3 = 8`
2. `10 - 4 = 6`
3. `6 * 7 = 42`

In [2]:
# This a simple arithmetic expression to multiply then add integers.

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours  = minutes / 60
print(hours)

3.3333333333333335

## Author : Jiwoong